<h2><a class="backup" href="/employee"><i class="additional"></i>Create New</a>Employee List</h2>
<table class="table">
    <thead>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>department</th>
            <th>startDate</th>
            <th>jobTitle</th>
            <th>salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.department}}</td>
            <td>{{this.startDate}}</td>
             <td>{{this.jobTitle}}</td>
            <td>{{this.salary}}</td>
            <td>
                <a href="/employee/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this.id}}" onclick="return confirm('Are you sure you'd like to delete this?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>